@font-face {
    font-family: 'Onest';
    src: url('/assets/Onest-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Bricolage';
    src: url('/assets/BricolageGrotesque96pt-SemiBold.ttf') format('truetype');
    font-weight: 700;
}

:root {
    --font-head: "Bricolage";
    --font-body: "Onest";

    --ink: #242424;
    --paper: white;
    --accent: aquamarine;
    --nav: #111;

    --space-around: 3vw;
    --space-between: 60px;
    --space-vertical: 12px;
    --height: 48px;
    --max-width: 600px;
    --max-width-h1: 840px;
}

html,
body, mr-app, mr-panel {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: inherit;
}

mr-app {
    font-family: 'Onest';
    line-height: 100%;
    font-size: 18px;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: var(--space-around);
    left: var(--space-around);
    width: calc(100% - var(--space-around) - var(--space-around));
    height: var(--height);
    background-color: var(--nav);
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    border-radius: 24px;
}

mr-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: var(--space-between);
    padding: var(--space-around) 3vw;
    background-color: var(--paper);
}

.section {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: center; */
    letter-spacing: 1px;
    /* line-height: 1.25; */
    line-height: 1.25;
    width: 100%;
    height: 100%;
}

.gapped {
    gap: var(--space-vertical);
}

.padded {
    padding: var(--space-around);
}

.narrow {
    max-width: 300px;
}

.diptych {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 10px; */
    justify-content: center;
    align-items: center;
}

.triptych {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-items: start;
}

.illustration {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background-color: var(--accent);
    border-radius: 10px;
    padding: 10px;
}

.documentation {
    background-color: var(--accent);
    width: fit-content;
}

.example-link {
    font-size: 2rem;
}

mr-text {
    letter-spacing: 1px;
    line-height: 100%;
    color: var(--ink);
}

.chapeau {
    font-size: 22px;
    max-width: 760px;
}

.h1 {
    max-width: var(--max-width-h1);
    font-family: "Bricolage";
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 20px;
}

.h2 {
    font-family: "Bricolage";
    font-size: 32px;
    font-weight: 700;
}

.h3 {
    font-family: "Bricolage";
    font-size: 24px;
    font-weight: 700;
}

.mosaic {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: var(--space-around);
    justify-items: center;
    align-items: center;
}

mr-button {
    padding: 8px 16px;
    font-size: 18px;
    color: var(--ink);
    background-color: var(--accent);
    border-radius: 16px;
}

mr-button.hover {
    background-color: var(--nav);
}

@media only screen and (max-width: 56rem) {
    .h1 {
        font-size: 36px;
    }

    .diptych, .triptych {
        grid-template-columns: 1fr;
    }

    .first {
        order: -1;
    }
}
