mr-app {
    display: block;
    height: 100vh;
    width: 100%;
}

.inXR {
    width: 100vw;
}

mr-app * {
    box-sizing: border-box;
    opacity: 0%;
}

mr-app > canvas {
    position:fixed;
    visibility:visible;
    opacity: 100%;
    z-index: 999;
}

mr-div, mr-button, mr-img, mr-a, mr-text, mr-textfield{
    display: inline-block;
    position: relative;
    z-index: inherit;
    opacity: 100%;
}

mr-panel {
    background-color: #fff;
    border-radius: 2%;
    position: fixed;
/*    overflow: scroll;*/
    overflow: auto;
/*      padding-right: 15px; /* Adjust based on expected scrollbar width */
/*padding: 0;*/
    height: 100vh;
    width: 100vw;
}

mr-img {
    /* z-index: inherit; */
    width: 100%;
    object-fit: cover;
}

mr-button {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #8a8a8a;
    border-radius: 0.5%;
    /* animation: back 0.25s ease-out forwards; */
}

mr-button.hover {
    background-color: #333;
    z-index: 5; /* end */
    /* animation: forward 0.25s ease-in forwards; */
}

mr-a {
    color: darkblue;
}

mr-a.hover {
    color: blue;
    z-index: 5;
}

mr-a.active {
    color: purple;

}

/* these work differently from in XR than expected, laurent should look into it */
/* button animation! */

@keyframes forward {
    to {
        z-index: 5; /* end */
    }
}

@keyframes back {
    to {
        z-index: 1; /* end */
    }
}


body {
    margin: 0; /* unclear why we need this */
}
